logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/.sbtserver/*
/logs/
/project/.sbtserver
/project/.sbtserver.lock
/.sbtserver/
.DS_Store
project/project
project/target
tmp
.history
dist
/*.iml
*.sc
/out
/resources/pics
